a:hover {
    text-decoration: none;
}
.card-body p{
    font-size: 1.4em;
}
.card-body h5{
    margin-top: 5PX;
}
.t-c th{
    text-align: center;
    vertical-align: middle;
}
.t-c tr{
    text-align: center;
}
.p-img{
    height: 6em;
}
.img-frame{
    height: 15em !important;
}
.t-details th,
.t-details tr{
    text-align: left;
}
.panel-title{
    text-align: center;
}
.panel-heading h4{
    color: red;
    text-align: center;
}
.middle{
    position: relative;
    top: 50%;

}
